.container{
    text-align: justify;
    width: 100%;
    min-height: 70vh;
}

.container h1{
    font-weight: bold;
    color: #454545;
}
.container h2{
    color: #454545;
}
.container p{
   color: #818181;
}

.container ul li{
    color: #818181;
}